/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 30px;
}

.alternative-background-wrapper {
  background: #fff;
  padding: 66px 0 44px 0;
}

a {
  text-decoration: none;
}
/* start header */
.header {
  height: 176px;
}

.header a:hover {
  color: #648880;
}

.header__logo a {
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  color: #fff;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}

.header__event-date {
  color: #648880;
  font-size: 21px;
  text-align: right;
  padding: 66px 0 22px 0;
}

.general-menu {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.general-menu li {
  display: inline-block;
  margin: 0 8.3px;
}

.general-menu li:last-child {
  margin-right: 0;
}

.general-menu a {
  color: #fff;
}
/* end header */

/* start main */
.main-background-wrapper {
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
}

.main {
  text-align: center;
  padding: 44px 0 22px 0;
}

.main__header {
  color: #648880;
  font-size: 36px;
  line-height: 44px;
}

.main__content {
  width: 800px;
  margin: 11px auto 0 auto;
  line-height: 44px;
  color: #fff;
  font-size: 24px;
  font-weight: 100;
}

.main__content-speakers {
  width: 900px;
  margin: 21px auto 23px auto;
  line-height: 33px;
  color: #888;
  font-size: 21px;
  font-weight: 300;
}

.main__reg-button {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 5px;
  letter-spacing: .5px;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  margin-top: 22px;
  padding: 21px 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.main__reg-button:hover {
  background-color: #fff;
  color: #648880;
}
/* end main */

/* start description */
.description-column {
  float: left;
  width: 31.15%;
  margin: 0 1.63%;
}

.description-column:first-child {
  margin-left: 0;
}

.description-column:last-child {
  margin-right: 0;
}

.description-column__upper-header {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.description-column img {
  margin-top: 20px;
  max-width:100%;
  height:auto;
  border-radius: 5px;
  padding-bottom: 15px;
}

.description-column a {
  font-size: 21px;
  color: #648880;
}

.description-column a:hover {
  color: #a9b2b9;
}

.description-column__text {
  margin-top: 20px;
}

.footer {
  padding-top: 44px;
  padding-bottom: 44px;
  font-size: 14px;
}

.liitle-logo {
  float: left;
  font-weight: 400;
  color: #648880;
}

.footer a {
  text-transform: none;
  font-weight: 300;
  letter-spacing: 0;
}

.footer a:hover {
  color: #648880;
}
/* end description */

/* start speakers description*/
.speakers-content {
  float: left;
  width: 63%;
}

.speaker-photo {
  box-sizing: content-box;
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  height: 130px;
  float: right;
  width: 33%;
  margin-top: 65px;
  padding-bottom: 22px;
}

.speaker-photo__img {
  display: block;
  margin: -65px auto 22px auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.speakers-content__header {
  color: #648880;
  font-size: 24px;
  line-height: 44px;
}

.speakers-content__under-header {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.speakers-content__text {
  margin-bottom: 22px;
}

.speaker-photo li {
  text-align: center;
}

.speaker-photo a {
  color: #648880;
}

.speaker-photo a:hover {
  color: #a9b2b9;
}
/* end speakers */

/* start schedule table */
.schedule-table {
  color: #a9b2b9;
}

.schedule-table th {
  text-align: right;
  font-weight: 400;
  padding-right: 45px;
  width: 20%;
}

.schedule-table td {
  padding: 22px 0;
  width: 40%;
  padding-right: 15px;
}

.schedule-table tbody td {
  border-top: 1px solid #dfe2e5;
}

.schedule-table .schedule-table__main-header {
  font-size: 24px;
  color: #648880;
  font-weight: 300;
}

.complicated-table-item p:first-child {
  color: #648880;
  font-size: 18px;
}

.complicated-table-item p:last-child {
  color: #888;
}
/* end schedule */

/* start venue */
.venue-address {
  float: left;
  width: 33%;
  margin-bottom: 66px;
}

.venue-address__title {
  color: #648880;
  font-size: 24px;
  line-height: 44px;
}

.venue-address__house {
  margin-bottom: 22px;
}

.venue-address__site-phone a {
  color: #648880;
  border-bottom: 1px solid #dfe2e5;
}

.venue-address__site-phone a:hover {
  color: #a9b2b9;
}

.venue-map {
  float: right;
  width: 66%;
  height: 150px;
  padding: 0 15px;
}
/* end venue */

/* start registration */
.regform-info {
  float: left;
  width: 66%;
}

.regform-info__title {
  color: #648880;
  font-size: 24px;
  line-height: 44px;
}

.regform-info__under-title {
  margin-bottom: 22px;
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.regform-info__main-body {
  margin-bottom: 22px;
}

.regform-info__little-title {
  color: #648880;
  font-size: 18px;
  margin-bottom: 18px;
}

.regform-info ul {
  list-style: square outside;
  margin: 0 0 22px 30px;
}

.regform-form {
  float: right;
  width: 33%;
}

.regform-form label {
  color: #648880;
  font-weight: 400;
  cursor: pointer;
}

.regform-form input, select, textarea {
  width: 100%;
  padding: 5px 8px;
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
  font: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.regform-form select {
  width: auto;
}

.regform-form .regform-form__button {
  width: auto;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}
/* end registration */
